:root {
    --light: #d8dbe0;
    --dark: #151515;
    scroll-behavior: smooth;
  }
  
  body {
    background-color: var(--dark);
    font-family: "Comfortaa", sans-serif;
    overflow-x: hidden;
  }

  body:has(> .toggle-switch:has(> .switch-input:checked)) {
    height: 4000px;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--light);
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
  }

/* 
START SWITCH
*/

  .toggle-switch {
    position: absolute;
    z-index: 1;
    margin-left: 160px;
    margin-top: 100px;
  }

  .outter-switch {
    position: absolute;
    width: 150px;
    height: 80px;
    margin-left: -12px;
    margin-top: -12px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.9);
    border-radius: 50px;
    background-color: var(--light);
    transition: 0.3s
  }

  .portofolio-text {
    color: var(--light);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 29px;
    left: 35px;
    font-size: 9px;
    transition: visibility 0s, opacity 1s linear;
  }

  .hello-text {
    color: var(--dark);
    position: absolute;
    opacity: 0;
    transform: translate(-50%,-50%);
    top: 29px;
    left: 87px;
    font-size: 20px;
  }
  
  .switch-background {
    position: absolute;
    width: 125px;
    height: 55px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .switch-input {
    position: absolute;
    display: none;
  }
  
  .slider {
    position: absolute;
    width: 125px;
    height: 55px;
    border-radius: 50px;
    background-color: #383838;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
    transition: 0.3s;
  }
  
  .switch-input:checked ~ label .slider {
    background-color: var(--light);
  }

  .switch-input:checked ~ label .outter-switch {
    background-color: var(--dark);
  }
  
  .switch-input:checked ~ label .hello-text {
    opacity: 1;
    transition: visibility 0s, opacity 1s linear;
  }

  .slider::before {
    content: "";
    position: absolute;
    left: 71px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    box-shadow: inset 3px 0px 10px -2px rgba(255, 255, 255, 0.9);
    background-color: black;
    transition: 0.3s;
  }

  .switch-input:checked ~ label .slider::before {
    transform: translateX(-70px);
    background-color: var(--light);
    box-shadow: inset -3px 0px 10px rgba(0,0,0,0.9);
  }

  .switch-input:checked ~ label .portofolio-text {
    opacity: 0;
    transition: 0s;
  }

/* 
END SWITCH
*/
/* 
START HEX / NON HEX HELLO WORLD TEXT
*/

  .header-container {
    position: relative;
    display: flex;
  }

  .hex-hello-world-text {
    position: absolute;
    margin-top: 220px;
    margin-left: 100px;
    color: white;
    opacity: 1;
    transition: visibility 0s, opacity 1s linear;
    transition-delay: 0.5s;
  }

  .hello-world-text {
    position: absolute;
    color: white;
    margin-top: 220px;
    margin-left: 100px;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
  }

  .toggle-switch:has(> .switch-input:checked) ~ .header-container > .hex-hello-world-text {
    opacity: 0;
    transition: 1s;
  }

  .toggle-switch:has(> .switch-input:checked) ~ .header-container > .hex-hello-world-text {
    visibility: hidden;
  }

  .toggle-switch:has(> .switch-input:checked) ~ .header-container > .hello-world-text {
    visibility: visible;
    opacity: 1;
    transition: 1s;
    transition-delay: 0.5s;
  }

/* 
END HEX / NON HEX HELLO WORLD TEXT
*/
/* 
START MY NAME, POSITION AND PHOTO
*/
  .my-name-text {
    width: 500px;
    margin-top: 250px;
    margin-left: 40px;
    color: white;
    font-size: 120px;
    visibility: hidden;
    transform: translateX(-550px);
    transition: 0.3s;
  }

  .toggle-switch:has(> .switch-input:checked) ~ .header-container > .my-name-text {
    visibility: visible;
    transform: translateX(0px);
    transition: 0.3s;
    transition-delay: 0.5s;
  }

  .current-position {
    width: 30px;
    color: white;
    font-size: 30px;
    margin-left: 30px;
    margin-top: -420px;
    visibility: hidden;
    transform: translateY(-550px);
    transition: 0.3s;
  }

  .toggle-switch:has(> .switch-input:checked) ~ .header-container > .current-position {
    visibility: visible;
    transform: translateY(475px);
    transition: 0.3s;
    transition-delay: 0.5s;
  }

  .me-photo {
    margin-top: -900px;
    margin-left: auto;
    margin-right: 50px;
    visibility: hidden;
    transform: translateY(0px);
    transition: 0.3s;
  }

  .toggle-switch:has(> .switch-input:checked) ~ .header-container > .me-photo {
    visibility: visible;
    transform: translateY(925px);
    transition: 0.3s;
    transition-delay: 0.5s;
  }

/* 
STOP MY NAME, POSITION AND PHOTO
*/
/* 
START NAV BAR
*/

  .nav-bar {
    position: sticky;
    display: flex;
    top: 0;
    z-index: 1;
    width: 100vw;
    column-gap: 0px;
    height: 0px;
    margin-top: 140px;
    margin-left: -1900px;
    visibility: hidden;
    background-color: var(--light);
    transition: 0.3s;
  }

  .toggle-switch:has(> .switch-input:checked) ~ .nav-bar {
    visibility: visible;
    height: 150px;
    transform: translateX(1890px);
    transition: 0.3s;
    transition-delay: 0.5s;
  }

  .nav-bar-element {
    position: relative;
    width: 20%;
    color: var(--dark);
    text-align: center;
    padding-top: 70px;
    text-decoration: none;
    box-shadow: inset 0px 7px 3px -3px rgba(0,0,0,0.9);
  }

/* 
STOP NAV BAR
*/
/* 
START ABOUT ME SECTION
*/

  .about-me-section {
    position: relative;
    height: 0px;
    color: white;
    margin-top: 10px;
    margin-left: -8px;
    padding-bottom: 50px;
    box-shadow: none;
  }

  .personal-description {
    font-size: 0px;
    margin: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .toggle-switch:has(> .switch-input:checked) ~ .about-me-section{
    box-shadow: 0px 7px 3px -3px rgba(0,0,0,0.9);
    height: auto;
    transition-delay: 0.8s;
  }

  .toggle-switch:has(> .switch-input:checked) ~ .about-me-section > .personal-description{
    font-size: 25px;
    margin: 50px 50px 0px;
    transition-delay: 0.8s;
  }

/* 
STOP ABOUT ME SECTION
*/
/* 
START SKILLS SECTION
*/
/*
  .skills-section {
    position: relative;
    color: white;
    display: none;
  }

  .toggle-switch:has(> .switch-input:checked) ~ .skills-section {
    display: initial;
  }

  .toggle-switch:has(> .switch-input:checked) ~ .skills-section > .personal-description {
    display:flex;
  }
*/
/* 
STOP ABOUT ME SECTION
*/