:root {
    --light: #d8dbe0;
    --dark: #151515;
    scroll-behavior: smooth;
  }
  
  body {
    background-color: var(--dark);
    margin: 0px;
    font-family: "Comfortaa", sans-serif;
    overflow-x: hidden;
  }

  body:has(> .toggle-switch:has(> .switch-input:checked)) {
    height: 4000px;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--light);
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
  }

/* 
START SWITCH
*/

  .toggle-switch {
    position: absolute;
    z-index: 1;
    margin-left: 160px;
    margin-top: 100px;
  }

  .outter-switch {
    position: absolute;
    width: 150px;
    height: 80px;
    margin-left: -12px;
    margin-top: -12px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.9);
    border-radius: 50px;
    background-color: var(--light);
    transition: 0.3s
  }

  .portofolio-text {
    color: var(--light);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 29px;
    left: 35px;
    font-size: 9px;
    transition: visibility 0s, opacity 1s linear;
  }

  .hello-text {
    color: var(--dark);
    position: absolute;
    opacity: 0;
    transform: translate(-50%,-50%);
    top: 29px;
    left: 87px;
    font-size: 20px;
  }
  
  .switch-background {
    position: absolute;
    width: 125px;
    height: 55px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .switch-input {
    position: absolute;
    display: none;
  }
  
  .slider {
    position: absolute;
    width: 125px;
    height: 55px;
    border-radius: 50px;
    background-color: #383838;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
    transition: 0.3s;
  }
  
  .switch-input:checked ~ label .slider {
    background-color: var(--light);
  }

  .switch-input:checked ~ label .outter-switch {
    background-color: var(--dark);
  }
  
  .switch-input:checked ~ label .hello-text {
    opacity: 1;
    transition: visibility 0s, opacity 1s linear;
  }

  .slider::before {
    content: "";
    position: absolute;
    left: 71px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    box-shadow: inset 3px 0px 10px -2px rgba(255, 255, 255, 0.9);
    background-color: black;
    transition: 0.3s;
  }

  .switch-input:checked ~ label .slider::before {
    transform: translateX(-70px);
    background-color: var(--light);
    box-shadow: inset -3px 0px 10px rgba(0,0,0,0.9);
  }

  .switch-input:checked ~ label .portofolio-text {
    opacity: 0;
    transition: 0s;
  }

/* 
END SWITCH
*/
/* 
START HEX / NON HEX HELLO WORLD TEXT
*/

  .header-container {
    position: relative;
    display: flex;
  }

  .hex-hello-world-text {
    position: absolute;
    margin-top: 220px;
    margin-left: 100px;
    color: white;
    opacity: 1;
    transition: visibility 0s, opacity 1s linear;
    transition-delay: 0.5s;
  }

  .hello-world-text {
    position: absolute;
    color: white;
    margin-top: 220px;
    margin-left: 100px;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
  }

  .toggle-switch:has(> .switch-input:checked) ~ .header-container > .hex-hello-world-text {
    opacity: 0;
    transition: 1s;
  }

  .toggle-switch:has(> .switch-input:checked) ~ .header-container > .hex-hello-world-text {
    visibility: hidden;
  }

  .toggle-switch:has(> .switch-input:checked) ~ .header-container > .hello-world-text {
    visibility: visible;
    opacity: 1;
    transition: 1s;
    transition-delay: 0.5s;
  }

/* 
END HEX / NON HEX HELLO WORLD TEXT
*/
/* 
START MY NAME, POSITION AND PHOTO
*/
  .my-name-text {
    width: 500px;
    margin-top: 250px;
    margin-left: 40px;
    color: white;
    font-size: 120px;
    visibility: hidden;
    transform: translateX(-550px);
    transition: 0.3s;
  }

  .toggle-switch:has(> .switch-input:checked) ~ .header-container > .my-name-text {
    visibility: visible;
    transform: translateX(0px);
    transition: 0.3s;
    transition-delay: 0.5s;
  }

  .current-position {
    width: 30px;
    color: white;
    font-size: 30px;
    margin-left: 30px;
    margin-top: -400px;
    visibility: hidden;
    transform: translateY(-550px);
    transition: 0.3s;
  }

  .toggle-switch:has(> .switch-input:checked) ~ .header-container > .current-position {
    visibility: visible;
    transform: translateY(475px);
    transition: 0.3s;
    transition-delay: 0.5s;
  }

  .me-photo {
    margin-top: -900px;
    margin-left: auto;
    margin-right: 50px;
    visibility: hidden;
    transform: translateY(0px);
    transition: 0.3s;
  }

  .toggle-switch:has(> .switch-input:checked) ~ .header-container > .me-photo {
    visibility: visible;
    transform: translateY(925px);
    transition: 0.3s;
    transition-delay: 0.5s;
  }

/* 
STOP MY NAME, POSITION AND PHOTO
*/
/* 
START NAV BAR
*/

  .nav-bar {
    position: sticky;
    display: flex;
    top: 0;
    z-index: 10;
    width: 100vw;
    column-gap: 0px;
    height: 0px;
    margin-top: 140px;
    margin-left: -1900px;
    visibility: hidden;
    background-color: var(--light);
    transition: 0.3s;
  }

  .toggle-switch:has(> .switch-input:checked) ~ .nav-bar {
    visibility: visible;
    height: 150px;
    transform: translateX(1890px);
    transition: 0.3s;
    transition-delay: 0.5s;
    transition-property: transform, height;
  }

  .nav-bar-element {
    position: relative;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; 
    width: 20vw;
    height: 150px;
    text-decoration: none;
    box-shadow: inset 0px 7px 3px -3px rgba(0,0,0,0.9);
  }

/* 
STOP NAV BAR
*/
/* 
START ABOUT ME SECTION
*/

  .about-me-section {
    position: relative;
    height: 0px;
    color: white;
    box-shadow: none;
  }

  .personal-description {
    position: relative;
    font-size: 0px;
    width: 50vw;
    left: 700px;
    top: -500px;
    margin: auto;
  }

  .toggle-switch:has(> .switch-input:checked) ~ .about-me-section{
    box-shadow: 0px 7px 3px -3px rgba(0,0,0,0.9);
    margin-top: 10px;
    margin-left: -8px;
    padding-bottom: 50px;
    height: 500px;
    transition-delay: 0.8s;
    transition-property: height, box-shadow, margin-top, margin-left, padding-bottom;
  }

  .toggle-switch:has(> .switch-input:checked) ~ .about-me-section > .personal-description{
    font-size: 25px;
    margin: 50px 50px 0px;
    transition-delay: 0.8s;
    transition-property: font-size;
  }

/* 
START COFFEE CUP
*/

  .coffee-container {
    position: relative;
    overflow: hidden;
    width: 500px;
    height: -0px;
  }

  .toggle-switch:has(> .switch-input:checked) ~ .about-me-section > .coffee-container {
    height: 500px;
    padding-left: 150px;
    margin-top: 100px;
    transition-delay: 0.8s;
    transition-property: height;
  }
  
  .cup {
    position: absolute;
    height: 550px;
    width: 500px;
    overflow: hidden;
    z-index: 9;
    transition: 0.5s;
    transition-property: padding-left;
  }

  .cup-body {
    position: absolute;
    overflow: hidden;
    max-height: 350px;
    height: 350px;
    width: 300px;
    background-image: linear-gradient(to right, #b9b9b9 , #FFFFFF);
    margin-left: 100px;
    margin-top: 75px;
    border-bottom-left-radius: 100%50%;
    border-bottom-right-radius: 100%50%;
    z-index: 1;
    transform: perspective(10px) rotateX(0deg);
    transition: transform 0s, max-height 0.4s, margin-top 0.4s;
    transition-property: transform max-height margin-top;
  }

  .cup-margin-shape {
    position: absolute;
    max-height: 150px;
    max-width: 300px;
    height: 150px;
    width: 300px;
    background-image: linear-gradient(to right, #b9b9b9 , #FFFFFF);
    margin-top:0px;
    margin-left: 100px;
    border-radius: 50%;
    z-index:5;
    transition: 0.3s;
    transition-property: height max-height max-width width margin-top margin-left;
  }

  .cup-black-shape {
    position: absolute;
    overflow: hidden;
    max-height: 130px;
    max-width: 280px;
    height: 130px;
    width: 280px;
    background-image: linear-gradient(to left, #151515 70%, #353535);
    margin-top: 10px;
    margin-left: 110px;
    border-radius: 50%;
    z-index: 5;
    transition: 0.3s;
    transition-property: height max-height max-width width margin-left;
  }

  .coffee {
    position: absolute;
    max-height: 130px;
    max-width: 280px;
    height: 130px;
    width: 280px;
    background-image: radial-gradient(#ca9970, #866247);
    margin-top: 35px;
    margin-left: 0;
    border-radius: 50%;
    z-index: 6;
    transition: 0.3s;
    transition-property: height max-height max-width width margin-top margin-left;
  }
  
  .cup-handle {
    position: absolute;
    max-width: 80px;
    height: 150px;
    width: 80px;
    border-radius: 150px;
    border-right: 25px solid #b9b9b9;
    border-bottom: 25px solid #b9b9b9;
    border-top: 25px solid #b9b9b9;
    border-left: 25px solid #b9b9b9;
    margin-top: 125px;
    margin-left: 15px;
    z-index: 0;
    transition: margin-left 0.3s, transform 0.3s, border-left 0.2s, border-top 0.3s, border-right 0.3s, border-bottom 0.3s, margin-top 0.3s;
    transform: perspective(400px) rotateX(0deg) rotateZ(1deg);
    transition-property: margin-left transform border-left border-top border-right border-bottom margin-top;
  }

  .coffee-text {
    font-size: 110px;
    color: #e4cbb6;
    padding-left: 15px;
    padding-top: 0px;
    margin-left: 0px;
    transform: perspective(400px) rotateX(50deg) rotateZ(-1deg);
    transition: 0.3s;
    transition-property: margin-left transform;
  }

  .joke-text {
    font-size: 0;
    color: #e4cbb6;
    opacity: 0;
    text-align: center;
    transition: 0s;
    transition-property: opacity;
  }

/* 
START COFFEE CUP ANIMATION
*/

  .cup:hover > .cup-body{
    max-height: 0px;
    margin-top: 260px;
    transform: perspective(10px) rotateX(-6deg);
    transition: transform 1s, max-height 0.5s, margin-top 0.5s;
    transition-property: transform max-height margin-top;
    transition-delay: 0.03s;
  }

  .cup:hover ~ .cup-handle {
    transform: perspective(400px) rotateX(-85deg) rotateZ(-30deg);
    border-right: 60px solid #b9b9b9;
    border-bottom: 60px solid #b9b9b9;
    border-top: 60px solid #b9b9b9;
    border-left: 200px solid #b9b9b9;
    margin-left: -110px;
    margin-top: 90px;
    transition: margin-left 0.4s, transform 0.5s, border-top 0.5s, border-bottom 0.5s, border-left 0.4s, border-right 0.5s, margin-top 0.5s;
    transition-property: margin-left transform border-top border-bottom border-left border-right margin-top;
    transition-delay: 0.1s, 0s, 0s, 0s, 0.1s, 0s, 0s;
  }

  .cup:hover > .cup-margin-shape {
    max-height: 450px;
    margin-left: 20px;
    height: 450px;
    max-width: 450px;
    width: 450px;
    transition: 0.5s;
    transition-property: max-height height max-width width margin-left;
  }

  .cup:hover > .cup-black-shape {
    max-height: 430px;
    margin-left: 30px;
    height: 430px;
    max-width: 430px;
    width: 430px;
    transition: 0.5s;
    transition-property: max-height height max-width width margin-left;
  }

  .cup:hover > .cup-black-shape > .coffee {
    max-height: 430px;
    margin-left: 0px;
    margin-top: 0px;
    height: 430px;
    max-width: 430px;
    width: 430px;
    transition: 0.5s;
    transition-property: max-height height max-width width margin-left margin-top;
  }

  .cup:hover > .cup-black-shape > .coffee > .coffee-text {
    font-size: 170px;
    margin-left: 10px;
    margin-top: 130px;
    transform: perspective(400px) rotateX(0deg);
    opacity: 0;
    transition: margin-left 0.5s, margin-top 0.5s, transform 0.5s, opacity 0.5s linear 0.5s, font-size 0.5s;
    transition-property: margin-left margin-top transform opacity font-size;
  }

  .cup:hover > .cup-black-shape > .coffee > .joke-text {
    margin-left: 0px;
    margin-top: -140px;
    opacity: 1;
    font-size: 18px;
    transition: margin-left 0s, margin-top 0s, opacity 0.5s linear 0.5s;
    transition-property: margin-left margin-top font-size opacity;
    transition-delay: 1s;
  }

/* 
STOP COFFEE CUP ANIMATION
*/
/* 
STOP COFFEE CUP
*/
/* 
STOP ABOUT ME SECTION
*/
/* 
START SKILLS SECTION
*/
  .skills-section {
    position: relative;
    height: 0px;
    color: white;
    box-shadow: none;
    overflow: hidden;
  }

  .toggle-switch:has(> .switch-input:checked) ~ .skills-section {
    box-shadow: 0px 7px 3px -3px rgba(0,0,0,0.9);
    margin-top: 10px;
    margin-left: -8px;
    height: 1000px;
    transition-delay: 0.8s;
    transition-property: height, box-shadow, margin-top, margin-left;
  }

  .skills-section .skill-section-label {
    position: relative;
    height: auto;
    width: auto;
  }

  .skills-section .skill-section-label .skill-section-container {
    position: relative;
    background-color: var(--dark);
    width: 100vw;
    height: 50px;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.9);
    transition: 0.5s;
    transition-property: height, background-color;
  }

  .skills-section .skill-section-label .skill-section-container .skill-section-container-text {
    position: relative;
    font-size: 50px;
    color: rgb(105, 105, 105);
    transition: 0.5s;
    transition-property: color;
  }

  .skill-switch-input {
    position: absolute;
    display: none;
  }

  .skill-section-container:hover {
    cursor: pointer;
    background-color: rgb(105, 105, 105);
  }

  .skill-switch-input:checked + .skill-section-label .skill-section-container {
    height: var(--height);
    background-color: rgb(105, 105, 105);
    transition: 0.5s;
    transition-property: height, background-color;
  }

  .skill-section-container:hover > .skill-section-container-text {
    color: var(--light);
    transition: 0.5s;
    transition-property: color;
  }

  .skill-switch-input:checked + .skill-section-label .skill-section-container > .skill-section-container-text {
    color: var(--light);
    transition: 0.5s;
    transition-property: color;
  }

  .skill-container {
    position: relative;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    opacity: 0;
    width: 24vw;
    height: 0px;
    font-size: 0px;
    transition: 0.3s;
    transition-property: height, font-size;
    transition-delay: 0.3s, 0s;
  }

  .skill-switch-input:checked + .skill-section-label .skill-section-container > .skill-container {
    opacity: 1;
    height: 250px;
    transition: height 0s, opacity 0.5s;
    transition-delay: 0.5s;
  }

  .skill-container #circle {
    position: absolute;
    height: 200px;
    width: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-60deg) rotateY(180deg);
  }

  .skill-container #circle #skill-circle-bar {
    fill: transparent;
    stroke: var(--light);
    stroke-width: 0;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    stroke-linecap: round;
  }

  .skill-switch-input:checked + .skill-section-label .skill-section-container > .skill-container #circle #skill-circle-bar {
    stroke-width: 20;
    transition: stroke-width;
    transition-delay: 0.5s;
    animation: stroke 0.6s linear 0.5s forwards;
  }

  .skill-container #circle #full-circle-bar {
    fill: transparent;
    stroke: var(--dark);
    stroke-width: 20;
    stroke-dasharray: 500;
    stroke-dashoffset: 165;
    stroke-linecap: round;
  }

  .skill-container #advanced-skill-level {
    position: absolute;
    color: var(--dark);
    height: 200px;
    width: 200px;
    margin-left: -25px;
    margin-top: 14px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(80deg);
  }

  .skill-container #basic-skill-level {
    position: absolute;
    height: 200px;
    width: 200px;
    margin-left: 4px;
    margin-top: 25px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(170deg);
  }

  .skill-container #newbie-skill-level {
    position: absolute;
    height: 200px;
    width: 200px;
    margin-left: -25px;
    margin-top: -5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(280deg);
  }

  .skill-container .skill-text {
    position: absolute;
    font-size: 14px;
    color: var(--light);
  }

  @keyframes stroke {
    100%{
      stroke-dashoffset: var(--stroke-dashoffset-final-value);
    }
  }
/* 
STOP SKILLS SECTION
*/
/* 
START WORK EXPERIENCE SECTION
*/

.work-experience-section {
  position: relative;
  height: 0px;
  color: white;
  box-shadow: none;
}

.toggle-switch:has(> .switch-input:checked) ~ .work-experience-section {
  box-shadow: 0px 7px 3px -3px rgba(0,0,0,0.9);
  margin-top: 10px;
  margin-left: -8px;
  padding-bottom: 50px;
  height: 700px;
  transition-delay: 0.8s;
  transition-property: height, box-shadow, margin-top, margin-left, padding-bottom;
}

/* 
STOP WORK EXPERIENCE SECTION
*/